h3 {
    text-align: center;
    padding-bottom: 3px;
    border-bottom: 1px solid #BDBDBD;
    width: 50%;
    margin: 30px auto 5px;
    font-weight: bold;
}

.margins-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.margins-container mat-form-field {
    width: 23%;
}

.full-width {
    width: 100%;
}
