<mat-card [formGroup]="formGroup">
  <mat-card-content>
    <mat-form-field class="full-width">
      <input matInput placeholder="Text" formControlName="text">
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-select placeholder="Font to use" formControlName="font">
        <mat-option *ngFor="let font of fonts" [value]="font">
          {{ font }}
        </mat-option>
        <mat-option value="NONE">
          NONE
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-select placeholder="Comment" formControlName="comment">
        <mat-option *ngFor="let comment of comments" [value]="comment">
          {{ comment }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-checkbox class="full-width"
                  formControlName="borders">Bordered
    </mat-checkbox>
    <h3>Margins</h3>
    <div class="margins-container" formGroupName="margins">
      <mat-form-field>
        <input matInput
               formControlName="left"
               placeholder="Left"
               type="number"
               min="0"
               step="1">
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="right"
               placeholder="Right"
               type="number"
               min="0"
               step="1">
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="top"
               placeholder="Top"
               type="number"
               min="0"
               step="1">
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="bottom"
               placeholder="bottom"
               type="number"
               min="0"
               step="1">
      </mat-form-field>

    </div>
  </mat-card-content>
</mat-card>
